[Unit]
Description=The Ollama container
After=local-fs.target

[Container]
ContainerName = "ollama"
AutoUpdate=registry
PublishPort = "11434:11434"
SecurityLabelDisable=true

Volume = %h/.containers/ollama:/root/.ollama:z

# HealthCmd=CMD-SHELL curl --fail http://localhost:11434/ || exit 1
HealthCmd=CMD-SHELL ollama --version || exit 1
HealthInterval=10s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=30s

Image = "docker.io/ollama/ollama:latest"
AddDevice=nvidia.com/gpu=all

Network=podman
Network=ollama

[Service]
Restart=always
TimeoutStartSec=900
# Ensure that the dir exists
ExecStartPre=mkdir -p %h/.containers/ollama
# Always pull the latest version on boot
# ExecStartPre=podman pull docker.io/ollama/ollama:latest
# Create a dedicated network
ExecStartPre=-podman network create ollama


[Install]
WantedBy=multi-user.target default.target
