[Unit]
Description=the OpenWebUI container
After=ollama.container
Requires=ollama.container

[Container]
ContainerName = "open-webui"
Image = "ghcr.io/open-webui/open-webui:cuda"
AutoUpdate=registry

PublishPort=3000:8080
Network=podman
Network=ollama

SecurityLabelDisable=true
Volume = %h/.containers/open-webui:/app/backend/data:Z

Environment="ANONYMIZED_TELEMETRY=False"
Environment="WEBUI_AUTH=true"
Environment="WEBUI_SECRET_KEY=fcbba54bf640af18c18d7757d74fa782ffa4f3cccf360c6453d5eaba348fb57a"
#Environment="DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/openwebui"

# Ollama
Environment=OLLAMA_BASE_URL=http://ollama:11434

# Image gen using ComfyUI
# Environment=COMFYUI_BASE_URL=http://localhost:8288

# Search using searxng
Environment=ENABLE_RAG_WEB_SEARCH=true
Environment=RAG_WEB_SEARCH_ENGINE=searxng
Environment=RAG_WEB_SEARCH_RESULT_COUNT=5
Environment=RAG_WEB_SEARCH_CONCURRENT_REQUESTS=10
Environment=SEARXNG_QUERY_URL=http://localhost:8888

HealthCmd=CMD-SHELL curl --silent --fail http://localhost:8080/health | jq -ne 'input.status == true' || exit 1
HealthInterval=10s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=30s

AddDevice=nvidia.com/gpu=all

[Service]
Restart=always
TimeoutStartSec=900
# Ensure that the dir exists
ExecStartPre=-mkdir -p %h/.containers/open-webui

#[Install]
#WantedBy=default.target
