[Unit]
Description=PgAdmin container
After=network-online.target
Requires=pgvector.service

[Container]
Pod = postgresql.pod
ContainerName = "pgadmin"
Image = "docker.io/dpage/pgadmin4:latest"
AutoUpdate=registry

# PublishPort=5050:5050

Volume = %h/.containers/pgadmin:/var/lib/pgadmin:Z

Environment="PGADMIN_DEFAULT_EMAIL=admin@email.com"
Environment="PGADMIN_DEFAULT_PASSWORD=postgres"
Environment="PGADMIN_LISTEN_PORT=5050"
Environment="PGADMIN_DISABLE_POSTFIX=true"

HealthCmd=CMD-SHELL wget -O - http://localhost:5050/misc/ping || exit 1
HealthInterval=10s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=30s

[Service]
Restart=always
TimeoutStartSec=900
# Ensure that the dir exists
ExecStartPre=-mkdir -p %h/.containers/pgadmin

[Install]
WantedBy=multi-user.target default.target
