[Unit]
Description=pgvector
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
Pod = postgresql.pod
ContainerName = "pgvector"
Image = "docker.io/pgvector/pgvector:pg17"
# PublishPort = "5432:5432"
Volume = %h/.containers/pgvector:/var/lib/postgresql/data:Z

Environment="POSTGRES_DB=postgres"
Environment="POSTGRES_USER=postgres"
Environment="POSTGRES_PASSWORD=postgres"

HealthCmd=CMD-SHELL pg_isready -U postgres -d postgres || exit 1
HealthInterval=10s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=30s

AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
